<div class="recommendations" *ngIf="dataSource.data | async; let list">

  <div *ngIf="!list.length" class="empty-state theme-secondary-text">
    <mat-icon class="page-icon"> label </mat-icon>
    <div>
      Configure actionable warnings and suggestions for your data.
    </div>

    <div class="create-new">
      <ng-container *ngTemplateOutlet="newButton"></ng-container>
    </div>
  </div>

  <div class="heading" *ngIf="list.length > 3">
    <advanced-search [filterer]="filterer"></advanced-search>
  </div>

  <div
       *ngFor="let group of recommendationGroups | async; trackBy: trackByGroupId">
    <div class="group-title" *ngIf="group.title">
      {{group.title}}
    </div>
    <ng-container *ngFor="let recommendation of group.items">
      <recommendation-view [recommendation]="recommendation">
      </recommendation-view>
      <mat-divider></mat-divider>
    </ng-container>

  </div>
</div>

<ng-template cdkPortal #newButton>
  <button mat-raised-button color="accent" class="create" (click)="add()">
    Create New Recommendation
  </button>

  <button mat-icon-button class="settings" [matMenuTriggerFor]="settings"
          *ngIf="(dataSource.data | async)?.length">
    <mat-icon>settings</mat-icon>
  </button>
</ng-template>

<mat-menu #settings="matMenu">
  <button mat-menu-item (click)="editJson()">
    Edit JSON
  </button>
</mat-menu>
