:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 16px;
  flex: 1;
}

.recommendations {
  max-width: 800px;
  width: 100%;
}

.action {
  display: flex;
  justify-content: center;
}

button.create {
  margin-right: 16px;
}

.heading {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.collapse {
  align-self: flex-end;
  margin: 8px 0;
}

input {
  flex: 1;
  outline: none;
  background: inherit;
  color: inherit;
  border-style: solid;
  border-width: 1px;
  padding: 16px;
  font-size: inherit;
}

.recommendation {
  mat-icon.type {
    height: 20px;
    width: 20px;
    font-size: 20px;
  }

  .title {
    display: flex;
    align-items: center;
  }

  .message {
    flex: 1;
    margin: 0 8px;
  }

  .details {
    margin-left: 30px;
    font-size: 14px;

    .filterer {
      padding-bottom: 4px;
    }
  }

  mat-divider {
    margin: 16px 0;
  }
}
