:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.recommendations {
  max-width: 800px;
  width: 100%;
  margin: 32px 0;
}

.search {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

mat-divider {
  margin: 16px 0;
}
