<header-content (actionSelected)="handleHeaderAction($event)"
                [actions]="headerActions | async"
                name="Config">
</header-content>

<ng-container *ngIf="dataSource.data | async as recommendations">
  <collection-page-empty-state (action)="create()"
                               *ngIf="!recommendations.length"
                               actionText="Create New Recommendation"
                               icon="label"
                               message="Configure actionable warnings and suggestions for your data">
  </collection-page-empty-state>

  <div class="recommendations">
    <div *ngIf="recommendations.length > 3" class="search">
      <advanced-search [filterer]="filterer"></advanced-search>
    </div>

    <div *ngFor="let group of recommendationGroups | async; trackBy: trackByGroupId" class="groups">
      <div *ngIf="group.title" class="group-title">
        {{group.title}}
      </div>
      <ng-container *ngFor="let recommendation of group.items">
        <recommendation-view [recommendation]="recommendation">
        </recommendation-view>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
  </div>
</ng-container>
