mat-chip-list {
  display: block;
}

mat-chip.mat-chip {
  border: 1px solid;
  border-radius: 8px;
  padding: 8px;
  min-height: 28px;
  margin: 4px 0;
}

mat-chip + mat-chip {
  margin-left: 8px;
}

.selectable {
  cursor: pointer;

  &:not(:hover) {
    color: inherit !important;
    background-color: transparent !important;
    border-color: inherit !important;
  }
}

:host ::ng-deep .mat-chip-list-wrapper {
  margin: 0;
}
