<mat-chip-list>
  <ng-container *ngFor="let label of displayedLabels | async">
    <mat-chip class="label" (click)="select(label)" class="theme-border"
              [class.selectable]="selectable" [ngStyle]="{
                color: label.textColor,
                backgroundColor: label.backgroundColor
              }">
      {{label.name}}
      <mat-icon (click)="remove(label)" *ngIf="removable"
                [style.color]="label.textColor"
                matChipRemove>cancel
      </mat-icon>
    </mat-chip>
  </ng-container>
</mat-chip-list>
