@import '~@angular/material/theming';
@import '../../../dist/components/theming';

@include mat-core();

$primary: mat-palette($mat-blue, 800);
$accent:  mat-palette($mat-blue, 500);
$warn:    mat-palette($mat-red);

$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include crafted-components-theme($theme);
