<header-content name="Database"></header-content>

<div class="title"> {{activeRepository | async}} </div>

<load-data (loading)="isLoading = true"
           *ngIf="!(isLoaded | async)">
</load-data>

<ng-container *ngIf="(isLoaded | async) || isLoading">
  <ng-container *ngFor="let typeInfo of repoDaoTypeInfo">
    <div *ngIf="(typeInfo.count | async) !== null"
         class="type theme-border theme-background-card">
      <div class="type-title">
        {{typeInfo.count | async}} {{typeInfo.label}}

        <type-actions *ngIf="!isLoading" [type]="typeInfo.type">
        </type-actions>
      </div>

      <ng-container [ngSwitch]="typeInfo.type">

        <ng-container *ngSwitchCase="'items'">
          <button (click)="navigateToNewQuery()" class="create-query"
                  color="primary" mat-stroked-button>
            Create Query
          </button>
        </ng-container>

        <ng-container *ngSwitchCase="'labels'">
          <label-list [labelIds]="(repoLabels | async) || []"></label-list>
        </ng-container>

      </ng-container>
    </div>
  </ng-container>

  <button (click)="remove()" *ngIf="(isEmpty | async) === false" class="remove"
          color="warn" mat-stroked-button>
    Remove locally stored data
  </button>
</ng-container>
