@import "../common";

@mixin advanced-search-theme($theme) {
  $foreground: map-get($theme, foreground);
  $divider: mat-color($foreground, divider);

  advanced-search {
    input.search {
      @include bottom-border($divider);
    }
  }

  .advanced-search-filter-menu {
    .menu-title {
      color: mat-color($foreground, text);
    }
  }
}
