<ng-container [formGroup]="form">
  <form-field label="Data">
    <mat-button-toggle-group formControlName="dataType">
      <mat-button-toggle *ngFor="let option of dataOptions" [value]="option.id">
        {{option.label}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </form-field>

  <form-field label="List length">
    <input formControlName="listLength" type="number">
  </form-field>

  <sort-state-option formControlName="sorterState" label="Sort state"
                     [sorter]="sorter"></sort-state-option>

  <view-state-option formControlName="viewerState" label="Views"
                     [viewer]="viewer"></view-state-option>

  <filter-state-option formControlName="filtererState" [filterer]="filterer"
                       [dataSource]="dataSource"
                       [savedFiltererStates]="savedFiltererStates | async">
  </filter-state-option>
</ng-container>
