<header-content (actionSelected)="handleHeaderAction($event)"
                [actions]="headerActions | async"
                name="Queries">
</header-content>

<ng-container *ngIf="queryGroups | async as queryGroups">
  <collection-page-empty-state (action)="navigateToQuery('new')"
                               *ngIf="!queryGroups.length"
                               actionText="Create New Query"
                               icon="find_in_page"
                               message="Create and save queries that filter, group, and sort your data">
  </collection-page-empty-state>

  <div class="group" *ngFor="let queryGroup of queryGroups">
    <div class="group-title">
      {{queryGroup.name}}
    </div>

    <div class="queries">
      <ng-container
        *ngFor="let query of queryGroup.queries; trackBy: queryKeyTrackBy">
        <div class="query theme-hover" mat-ripple
             (click)="navigateToQuery(query.id)">
          <div class="name">
            {{query.name}}
            ({{(query.count | async)}})
          </div>

          <div class="end">
            <div class="query-type theme-secondary-text theme-border">
              {{dataResourcesMap.get(query.type).label}}
            </div>
            <query-menu [query]="query" icon="more_vert"
                        (click)="$event.stopPropagation()">
            </query-menu>
          </div>
        </div>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
  </div>
</ng-container>
