<ng-container *ngIf="queryGroups | async; let queryGroups">
  <div *ngIf="!queryGroups.length" class="empty-state theme-secondary-text">
    <mat-icon class="page-icon"> find_in_page </mat-icon>
    <div>Create and save queries that filter, group, and sort your data.</div>

    <div class="create-new">
      <ng-container *ngTemplateOutlet="newButton"></ng-container>
    </div>
  </div>

  <div class="group" *ngFor="let queryGroup of queryGroups">
    <div class="group-title">
      {{queryGroup.name}}
    </div>

    <div class="queries">
      <ng-container
                    *ngFor="let query of queryGroup.queries; trackBy: queryKeyTrackBy">
        <div class="query theme-hover" mat-ripple
             (click)="navigateToQuery(query.id)">
          <div class="name">
            {{query.name}}
            ({{(query.count | async) || '..'}})
          </div>

          <div class="end">
            <div class="query-type theme-secondary-text">
              {{dataResourcesMap.get(query.type).label}}
            </div>
            <query-menu [query]="query" icon="more_vert"
                        (click)="$event.stopPropagation()">
            </query-menu>
          </div>
        </div>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
  </div>
</ng-container>

<ng-template cdkPortal #newButton>
  <ng-container *ngIf="dataResourcesIds.length === 1; else createMenu">
    <button mat-raised-button color="primary" class="create"
            (click)="createQuery(queryTypes[0])">
      Create New Query
    </button>
  </ng-container>

  <ng-template #createMenu>
    <button mat-raised-button color="primary" class="create"
            [matMenuTriggerFor]="createQueryMenu">
      <div class="button-text">
        Create New Query
        <mat-icon> arrow_drop_down </mat-icon>
      </div>
    </button>

    <mat-menu #createQueryMenu="matMenu" xPosition="before">
      <button mat-menu-item (click)="createQuery(queryType)"
              *ngFor="let queryType of dataResourcesIds">{{dataResourcesMap.get(queryType).label}}</button>
      <button mat-menu-item [matMenuTriggerFor]="recommendations"
              *ngIf="(recommendationsList | async)?.length">
        From recommendations
      </button>
    </mat-menu>

  </ng-template>
</ng-template>


<mat-menu #recommendations="matMenu" class="recommendations-menu">
  <button mat-menu-item
          *ngFor="let recommendation of recommendationsList | async"
          (click)="createQueryFromRecommendation(recommendation)">
    {{recommendation.message}}
  </button>
</mat-menu>
