<ng-container *ngIf="item | async; let item">
  <div class="header">
    <div class="title">
      {{item.title}}
      <span class="item-number">
        (<a class="theme-primary" [href]="item.url">#{{item.number}}</a>)
      </span>
    </div>
  </div>

  <div class="context">
    <div class="detail">
      Reported by {{item.reporter}} on {{item.created | date}}
      <ng-container *ngIf="item.created != item.updated">
        - last updated {{item.updated | timeAgo}}
      </ng-container>
      <span class="state theme-border"
            [class.theme-background-warn]="item.state === 'closed'"
            [class.theme-background-positive]="item.state === 'open'">
        {{item.state}} </span>
    </div>
    <div class="detail" *ngIf="item.assignees.length > 0">
      Assigned to {{item.assignees}}
    </div>
  </div>

  <label-list *ngIf="item.labels.length" [labelIds]="item.labels"
              class="item-labels"></label-list>

  <ng-container
                *ngFor="let recommendation of recommendations | async; let last = last">
    <mat-divider></mat-divider>

    <recommendation-action [recommendation]="recommendation" [item]="item">
    </recommendation-action>

    <mat-divider *ngIf="last"></mat-divider>
  </ng-container>

  <div class="body theme-border theme-background-card markdown"
       [innerHTML]="bodyMarkdown | async"></div>

  <div *ngIf="activities | async; let activities" class="activities">
    <mat-divider *ngIf="activities.length"></mat-divider>

    <ng-container *ngFor="let a of activities" [ngSwitch]="a.type">
      <comment-view *ngSwitchCase="'comment'" [comment]="a.context">
      </comment-view>
      <timeline-event-view *ngSwitchCase="'timeline'"
                           [timelineEvent]="a.context">
      </timeline-event-view>
    </ng-container>

  </div>

</ng-container>
