@import '../../../../../../../dist/components/common.scss';

:host {
  font-size: 14px;
  display: block;
  overflow: auto;
  padding: 0 16px;
  flex: 1;
}

.header {
  display: flex;
  font-size: 22px;
  margin: 20px 0 16px 16px;
}

.context {
  margin: 0 16px;
}

item-title {
  flex: 1;
}

.item-number {
  font-size: 16px;
  margin: 0 8px;
}

.state {
  margin-left: 8px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 4px 8px;
  font-size: 14px;
}

.detail {
  display: block;
  margin-bottom: 16px;
}

.assignees, label-list {
  display: inline-block;
}

.assignees + .add-assignee, label-list + .add-label {
  margin-left: 8px;
}

// For images that are too large
::ng-deep img {
  max-width: 100%;
}

.activities {
  display: flex;
  flex-direction: column;
}

.activities mat-divider {
  margin-bottom: 16px;
}

button.add-assignee, button.add-label {
  height: 32px;
  border-radius: 8px;
  line-height: 32px;
}

::ng-deep .option-menu {
  max-height: 500px;
}

.mat-menu-item {
  @include slim-menu-item();
}

item-message.body {
  margin-bottom: 16px;
}

item-message.comment {
  margin: 16px 0;
}


.loading-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

mat-spinner {
  margin-top: 16px;
}

.add-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 8px 0;

  mat-form-field {
    flex: 1;
    width: 100%;
    box-sizing: border-box;

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 8px;
    }
  }
}
