:host {
  font-size: 14px;
  display: block;
  overflow: auto;
  padding: 8px 24px;
  flex: 1;
}

.header {
  padding: 16px 0px;
  display: flex;
  align-items: center;
  font-size: 22px;
}

.detail, .item-labels {
  display: block;
  padding-bottom: 16px;
}

.body {
  border-style: solid;
  border-width: 1px;
  margin: 16px 0 64px;
  padding: 16px;
}

.item-number {
  font-size: 12px;
}

// For images that are too large
::ng-deep img {
  max-width: 100%;
}

.state {
  margin-left: 8px;
  border-radius: 4px;
  border-width: 1px;
  border-style: solid;
  padding: 4px 8px;
}

.activities {
  display: flex;
  flex-direction: column;
}

.activities mat-divider {
  margin-bottom: 16px;
}
