  <div class="header">
    <div class="title">
      {{item.title}}
    </div>

    <span class="item-number">
        <a [href]="item.url" class="theme-primary">#{{item.number}}</a>
      </span>

    <span [class.theme-background-positive]="item.state === 'open'"
          [class.theme-background-warn]="item.state === 'closed'"
          class="state theme-border">
        {{item.state}} </span>
  </div>

  <div class="context">
    <div class="detail">
      Reported by {{item.reporter}} on {{item.created | date}}
      <ng-container *ngIf="item.created != item.updated">
        - last updated {{item.updated | timeAgo}}
      </ng-container>
    </div>

    <div class="detail">
      <span *ngIf="item.assignees.length > 0" class="assignees">
        Assigned to {{item.assignees.join(', ')}}
      </span>
      <button mat-stroked-button class="add-assignee"
              [matMenuTriggerFor]="addAssigneeMenu"> + Add assignee </button>
    </div>

    <div class="detail">
      <label-list *ngIf="item.labels.length" [labelIds]="item.labels" [removable]="true">
      </label-list>
      <button mat-stroked-button class="add-label"
              [matMenuTriggerFor]="addLabelMenu"> + Add label </button>
    </div>
  </div>

  <ng-container
                *ngFor="let recommendation of recommendations | async; let last = last">
    <mat-divider></mat-divider>

    <recommendation-action [recommendation]="recommendation" [item]="item">
    </recommendation-action>

    <mat-divider *ngIf="last"></mat-divider>
  </ng-container>

  <div class="body theme-border theme-background-card markdown"
       [innerHTML]="bodyMarkdown | async"></div>

  <div *ngIf="activities | async; let activities" class="activities">
    <mat-divider *ngIf="activities.length"></mat-divider>

    <ng-container *ngFor="let a of activities" [ngSwitch]="a.type">
      <comment-view *ngSwitchCase="'comment'" [comment]="a.context">
      </comment-view>
      <timeline-event-view *ngSwitchCase="'timeline'"
                           [timelineEvent]="a.context">
      </timeline-event-view>
    </ng-container>
  </div>


<mat-menu #addAssigneeMenu="matMenu" class="option-menu">
  <button mat-menu-item *ngFor="let option of addAssigneeOptions | async"
          (click)="addAssignee(option)">
    {{option}}
  </button>
</mat-menu>

<mat-menu #addLabelMenu="matMenu" class="option-menu">
  <button mat-menu-item *ngFor="let option of addLabelOptions | async"
          (click)="addLabel(option.id, option.label)">
    {{option.label}}
  </button>
</mat-menu>
