<div class="title"
     *ngIf="recommendationTypes[recommendation.type]; let typeMeta">
  <mat-icon [class.theme-warn]="typeMeta.warn" class="type">
    {{typeMeta.icon}}
  </mat-icon>

  <div class="message">
    {{recommendation.message}}

    ({{(resultsCount | async) || '..'}})
  </div>

  <button mat-icon-button [matMenuTriggerFor]="recommendationMenu">
    <mat-icon> more_vert </mat-icon>
  </button>
</div>

<div class="details theme-secondary-text">
  <div class="filterer">
    {{filtererString | async}}
  </div>

  <div *ngIf="recommendation.actionType !== 'none'">
    {{actionTypes[recommendation.actionType].label}}:

    <ng-container [ngSwitch]="recommendation.actionType">
      <ng-container *ngSwitchCase="'add-label'">
        {{recommendation.action.labels.join(', ')}}
      </ng-container>

      <ng-container *ngSwitchCase="'add-assignee'">
        {{recommendation.action.assignees.join(', ')}}
      </ng-container>
    </ng-container>
  </div>
</div>

<mat-menu #recommendationMenu="matMenu" xPosition="before">
  <button mat-menu-item (click)="edit(recommendation)">
    <mat-icon> edit </mat-icon>
    Edit
  </button>
  <button mat-menu-item (click)="duplicate(recommendation)">
    <mat-icon> file_copy </mat-icon>
    Duplicate
  </button>
  <button mat-menu-item (click)="remove(recommendation)">
    <mat-icon> delete </mat-icon>
    Remove
  </button>
</mat-menu>
