@import '../../../../../../dist/components/common';

.mat-dialog-title {
  text-align: center;
  font-size: 24px;
}

.mat-dialog-content {
  margin: 32px 0;
}

.load {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.data-to-load {
  margin-top: 16px;
}

.action {
  display: flex;
  align-items: center;
  justify-content: center;

}

button {
  margin-right: 16px;
}

mat-select {
  width: initial;

  ::ng-deep .mat-select-value {
    max-width: 100%;
    width: auto;
    padding-right: 4px;
  }
}

.datepicker {
  display: inline-block;
  margin-left: 16px;
}

input {
  @include unstyled-input();
  width: 77px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding: 8px;
  text-align: center;
}

.loading {
  text-align: center;
  margin: 16px;
}
