.mat-dialog-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

textarea {
  flex: 1;
  color: inherit;
  width: 100%;
  border: none;
  min-height: 160px;
}

mat-expansion-panel {
  margin: 8px 0;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .mat-expansion-panel-content {
  flex: 1;
  overflow: auto;
}

mat-panel-title {
  display: flex;
  align-items: center;
}

mat-icon {
  margin-right: 8px;
}
