:host {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;}

.sidenav {
  display: flex;
  flex-direction: column;
  margin: 16px;
  overflow: auto;
}

.content {
  margin: 16px;
  flex: 1;
  overflow: auto;
}
