@import "app/constants";
@import '~github-markdown-css/github-markdown';

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Remove blue highlight on android
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// iOS wants to zoom on input unless it is at least 16px font size
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-device-width: $mobile-width) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

.markdown-body {
  color: currentColor;
  font: inherit;

  pre, table {
    color: #24292e;
  }
}
