@import 'app/constants';

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Remove blue highlight on android
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// iOS wants to zoom on input unless it is at least 16px font size
@media screen and (-webkit-min-device-pixel-ratio:0) and (max-device-width : $mobile-width)  {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

/** Markdown **/
.markdown {
  img {
    max-width: 100%;
  }

  pre {
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    white-space: pre-wrap;
  }
}


/* Material Styles */
/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; height: 14px; width: 14px; }
.material-icons.md-18 { font-size: 18px; height: 18px; width: 18px; }
.material-icons.md-24 { font-size: 24px; height: 18px; width: 18px; }
.material-icons.md-36 { font-size: 36px; height: 18px; width: 18px; }
.material-icons.md-48 { font-size: 48px; height: 18px; width: 18px; }

.menu-title {
  padding: 6px 16px 12px 16px;
  font-weight: bold;
  font-size: 14px;
}

button.mat-menu-item {
  font-size: 14px;
  height: 32px;
  line-height: 32px;

  @media (max-width: $mobile-width - 1) {
    height: 40px;
    line-height: 40px;
  }

  @media (min-width: $mobile-width) {
    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
    }
  }
}


// Empty state styles
.empty-state {
  margin: auto;
  display: flex;
  padding: 32px;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  font-size: 32px;
  text-align: center;
  flex-direction: column;
  font-weight: lighter;

  & > mat-icon {
    height: 196px;
    width: 196px;
    line-height:196px;
    font-size: 196px;
    opacity: .2;
    margin-bottom: 32px;
  }

  .create-new {
    margin-top: 32px;
  }
}
