@import "app/constants";

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // Remove blue highlight on android
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// iOS wants to zoom on input unless it is at least 16px font size
@media screen and (-webkit-min-device-pixel-ratio: 0) and (max-device-width: $mobile-width) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

/** Markdown **/
.markdown {
  img {
    max-width: 100%;
  }

  pre {
    border-radius: 3px;
    font-size: 85%;
    line-height: 1.45;
    overflow: auto;
    padding: 16px;
    white-space: pre-wrap;
    word-break: break-word;
  }
}
