:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

.content {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: auto;
}

nav {
  ::ng-deep .mat-tab-links {
    justify-content: center;
  }
}
