@import "../../../components/common";

:host {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  flex-direction: column;
  flex: 1;
}

action-option + action-option {
  margin-top: 16px;
}

:host mat-icon {
  font-size: 20px;
  height: 20px;
  width: 20px;
  line-height: 20px;
}

.buttons {
  display: flex;
  margin-top: 32px;
  justify-content: flex-end;
}
