<button mat-button [mat-menu-trigger-for]="rootMenu">
  <div class="options-menu-trigger"> Display Options </div>
</button>

<mat-menu #rootMenu="matMenu">
  <button *ngIf="grouper" mat-menu-item [matMenuTriggerFor]="groupingMenu">
    Group By
  </button>
  <button *ngIf="sorter" mat-menu-item [matMenuTriggerFor]="sortingMenu">
    Sort By
  </button>
  <button *ngIf="viewer" mat-menu-item [matMenuTriggerFor]="viewingMenu">
    View
  </button>
</mat-menu>

<!-- Group Menu -->
<mat-menu #groupingMenu="matMenu">
  <button mat-menu-item *ngFor="let group of groups"
          [class.selected]="(grouper.state | async).group === group.id"
          (click)="setGroup(group.id); $event.stopPropagation();">
    <div class="button-content">
      <mat-icon>check</mat-icon>
      {{group.label}}
    </div>
  </button>
</mat-menu>

<!-- Sort Menu -->
<mat-menu #sortingMenu="matMenu">
  <button mat-menu-item *ngFor="let sort of sorts"
          [class.selected]="(sorter.state | async).sort === sort.id"
          (click)="setSort(sort.id); $event.stopPropagation();">
    <div class="button-content">
      <mat-icon>
        {{(sorter.state | async).reverse ? 'arrow_downward' : 'arrow_upward'}}
      </mat-icon>
      {{sort.label}}
    </div>
  </button>
</mat-menu>

<!-- View Menu -->
<mat-menu #viewingMenu="matMenu">
  <button mat-menu-item *ngFor="let view of views"
          [class.selected]="(viewer.state | async).views.indexOf(view.id) !== -1"
          (click)="viewer.toggle(view.id); $event.stopPropagation();">
    <div class="button-content">
      <mat-icon>check</mat-icon>
      {{view.label}}
    </div>
  </button>
</mat-menu>
