<div class="header theme-background-app-bar">
  <button (click)="navigateHome()" class="home" mat-icon-button>
    <mat-icon>home</mat-icon>
  </button>

  <ng-container *ngIf="repositories$ | async as repositories">
    <mat-select (selectionChange)="router.navigate([$event.value])"
                *ngIf="repositories.length > 1; else singleRepository"
                [value]="activeRepository | async">
      <mat-option *ngFor="let repository of repositories" [value]="repository">
        {{repository}}
    </mat-option>
  </mat-select>

    <ng-template #singleRepository>
      {{activeRepository | async}}
    </ng-template>
  </ng-container>
</div>

<mat-divider></mat-divider>
<mat-nav-list> 
  <ng-container *ngFor="let link of links">
    <a  mat-list-item (click)="sidenav.close()" class="link theme-text"
        *ngIf="!(link.disabled | async)"
        routerLinkActive="active" [routerLink]="link.route">
      <div class="link-text">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </div>
    </a>
    <a  mat-list-item *ngFor="let subLink of link.subItems | async"
        (click)="sidenav.close()" class="sublink link theme-text"
        routerLinkActive="active" [routerLink]="[link.subRoute, subLink.id]">
      <div class="link-text">{{subLink.name}}</div>
  </a>
  </ng-container>

  <div class="spacer"></div>
  <mat-divider></mat-divider>
  <ng-container *ngFor="let link of configLinks">
    <a mat-list-item (click)="sidenav.close()" class="link theme-text"
        *ngIf="!(link.disabled | async)"
        routerLinkActive="active" [routerLink]="link.route">
      <div class="link-text">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </div>
    </a>
  </ng-container>    
  <div class="settings">
    <ng-container *ngIf="accessToken | async; let token; else settingsLabel">
      <ng-container *ngIf="user | async; let user">
        <div class="pic"
             [style.backgroundImage]="'url(https://github.com/' + user + '.png)'">
        </div>
        <div class="username"> {{user}} </div>
      </ng-container>
    </ng-container>
    <ng-template #settingsLabel>
      <button mat-button (click)="$event.stopPropagation(); signIn()" class="sign-in">
        Login to GitHub
      </button>
    </ng-template>
    <button mat-icon-button [mat-menu-trigger-for]="settings">
      <mat-icon> settings </mat-icon>
    </button>
  </div>
</mat-nav-list>

<mat-menu #settings="matMenu">
  <button mat-menu-item (click)="toggleTheme()">
    <mat-icon> wb_sunny </mat-icon>
    Use {{(isDarkTheme | async) ? 'Light' : 'Dark' }} Theme
  </button>

  <button mat-menu-item (click)="signOut()" *ngIf="accessToken | async">
    <mat-icon> exit_to_app </mat-icon>
    Logout
  </button>
</mat-menu>
