<div class="header theme-background">
  <button (click)="navigateHome()" class="home" mat-icon-button matTooltip="Home page">
    <mat-icon>home</mat-icon>
  </button>

  <div *ngIf="repositories$ | async as repositories" class="repository">
    <mat-select (selectionChange)="router.navigate([$event.value])"
                *ngIf="repositories.length > 1; else singleRepository"
                [value]="activeRepository | async">
      <mat-option *ngFor="let repository of repositories" [value]="repository">
        {{repository}}
      </mat-option>
    </mat-select>

    <ng-template #singleRepository>
      {{activeRepository | async}}
    </ng-template>
  </div>

</div>

<mat-divider></mat-divider>
<mat-nav-list>
  <ng-container *ngFor="let link of links">
    <a  mat-list-item (click)="sidenav.close()" class="link theme-text"
        routerLinkActive="active" [routerLink]="link.route">
      <div class="link-text">
        <mat-icon>{{link.icon}}</mat-icon>
        {{link.label}}
      </div>
    </a>
    <a  mat-list-item *ngFor="let subLink of link.subItems | async"
        (click)="sidenav.close()" class="sublink link theme-secondary-text"
        routerLinkActive="active" [routerLink]="[link.subRoute, subLink.id]">
      <div class="link-text">{{subLink.name}}</div>
  </a>
  </ng-container>
</mat-nav-list>


<mat-divider></mat-divider>

<signin-button>
  <button mat-menu-item (click)="toggleTheme()">
    <mat-icon> wb_sunny </mat-icon>
    Use {{(isDarkTheme | async) ? 'Light' : 'Dark' }} Theme
  </button>
</signin-button>
