@import '../../../constants';
@import '~@angular/material/theming';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
}

mat-select {
  ::ng-deep .mat-select-trigger {
    padding: 0 16px;
    height: 64px;
  }

  ::ng-deep .mat-select-value {
    vertical-align: middle;
  }
}

.settings {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 8px;
}

.username {
  word-break: break-all;
  font-size: 14px;
  flex: 1;
}

.pic {
  width: 32px;
  min-width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 8px;
  margin: 0 12px 0 4px;
}

.logout {
  font-size: 14px;
  padding: 0 8px;
  width: 100%;
  text-align: left;
}

.link-list {
  flex: 1;
  overflow: auto;
  padding-top: 4px;
}

.info {
  flex: 1;
  font-size: 12px;
}

button.sign-in {
  flex: 1;
  text-align: left;
}

.link {
  height: 48px;
  width: 100%;
  cursor: pointer;
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
  opacity: .8;

  @media (max-width: $mobile-width - 1) {
    height: 56px;
  }

  mat-icon {
    margin: 0 16px;
  }

  &.active {
    opacity: 1;
  }
}

.link-text {
  font-size: 16px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.link-highlight {
  position: absolute;
  top: 0;
  left: -32px;
  right: 4px;
  bottom: 0;
  border-radius: 32px;
}
