@import '../../../constants';
@import '~@angular/material/theming';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
}


mat-nav-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1;
}

.header {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 64px;
}

mat-select {
  font-weight: bold;
}

button.home {
  margin-right: 8px;
}

.settings {
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 8px;
}

.username {
  word-break: break-all;
  font-size: 14px;
  flex: 1;
}

.pic {
  width: 32px;
  min-width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 32px;
  border-radius: 8px;
  margin: 0 12px 0 4px;
}

.logout {
  font-size: 14px;
  padding: 0 8px;
  width: 100%;
  text-align: left;
}

.link-list {
  overflow: auto;
  padding-top: 4px;
}

.info {
  flex: 1;
  font-size: 12px;
}

button.sign-in {
  flex: 1;
  text-align: left;
}

.link {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
  opacity: .8;

  @media (max-width: $mobile-width - 1) {
    height: 56px;
  }

  mat-icon {
    margin-right: 16px;
  }

  &.active {
    opacity: 1;
  }

  &.disabled {
    pointer-events: none;
  }

  &.sublink {
    padding-left: 40px;
  }
}

.link-text {
  font-size: 16px;
  display: flex;
  align-items: center;
  z-index: 1;

  .sublink & {
    font-size: 14px;
  }
}
