@import '../../../constants';
@import '~@angular/material/theming';
// @import '../../../components/common';

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 250px;
}

.header {
  height: 64px;
  display: flex;
  align-items: center;
  padding: 0 8px;

  button {
    margin-right: 8px;
  }
}

mat-nav-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.spacer {
  flex: 1;
}

.repository {
  flex: 1;

  mat-select {
    border: none;
  }
}

.link-list {
  overflow: auto;
  padding-top: 4px;
}

.info {
  flex: 1;
  font-size: 12px;
}

button.sign-in {
  flex: 1;
  text-align: left;
}

.link {
  height: 48px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  outline: none;
  display: flex;
  align-items: center;
  opacity: .8;

  @media (max-width: $mobile-width - 1) {
    height: 56px;
  }

  mat-icon {
    margin-right: 16px;
  }

  &.active {
    opacity: 1;
    font-weight: bold;
  }

  &.disabled {
    pointer-events: none;
  }

  &.sublink {
    padding-left: 40px;
    height: 40px;
  }
}

.link-text {
  font-size: 15px;
  display: flex;
  align-items: center;
  z-index: 1;

  .sublink & {
    font-size: 13px;
  }
}
