<ng-container [formGroup]="form">
  <mat-select formControlName="equality">
    <mat-option *ngFor="let equality of equalities" [value]="equality.id">
      {{equality.label}}
    </mat-option>
  </mat-select>

  <input class="value-input" formControlName="value" [matAutocomplete]="auto">

  <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
    <mat-option *ngFor="let option of (filteredOptions | async)?.slice(0, 100)"
                [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</ng-container>
