@mixin count-theme($theme) {
  $foreground: map-get($theme, foreground);
  $divider: mat-color($foreground, divider);

  count {
    border-color: $divider;
  }

  mat-select {
    @include bottom-border($divider);
  }
}
