.scope {
  padding-bottom: 24px;
}

mat-checkbox {
  padding: 0 16px;

  ::ng-deep .mat-checkbox-inner-container {
    margin-right: 16px;
  }
}

.reason {
  font-size: 14px;
  padding-left: 48px;
}

.message {
  margin-bottom: 24px;
}

.scope-title {
  display: flex;
  align-items: center;
  padding-bottom: 4px;
}

.optional {
  font-size: 15px;
  margin: 0 16px 16px 16px;
}
