<div class="load">

  <div class="action">
    <button mat-raised-button color="primary" class="load-data"
            [disabled]="state" (click)="store()">
      Load Data
    </button>

    <div class="items-form" [formGroup]="formGroup">
      <mat-select formControlName="issueDateType">
        <mat-option *ngFor="let option of ['all data', 'last updated since']"
                    [value]="option">
          {{option}}
        </mat-option>
      </mat-select>

      <div class="datepicker"
           *ngIf="formGroup.value.issueDateType === 'last updated since'">
        <input formControlName="issueDate" [matDatepicker]="picker"
               class="theme-border" (click)="picker.open()"
               placeholder="Choose a date">
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
  </div>

  <ng-container *ngIf="isEmpty | async">
    <div class="data-to-load theme-secondary-text">
      ({{(totalItemCount | async) || '...'}} issues and pull requests,
      {{(totalLabelsCount | async) || '...'}} labels)
    </div>
  </ng-container>
</div>


<ng-container *ngIf="state?.progress; let progress">
  <div class="loading theme-secondary-text">
    {{state.label}}
    {{'(' + (state.progress.value | number:'1.0-0') + '% complete)'}}
  </div>
  <mat-progress-bar *ngIf="progress.type === 'determinate'" mode="determinate"
                    [value]="state.progress.value">
  </mat-progress-bar>

  <mat-progress-bar *ngIf="progress.type === 'indeterminate'"
                    mode="indeterminate">
  </mat-progress-bar>
</ng-container>
