:host {
  flex: 1;
  display: flex;

  input {
    font-size: 16px;
    border-width: 0;
    outline: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding: 0 0 4px 0;
    width: 100%;
    height: 16px;
    margin-top: 15px;
    background: inherit;
    color: inherit;
  }

  mat-select {
    height: 16px;
    margin-bottom: 8px;
    display: block;
    margin-top: 14px;
    padding-bottom: 5px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    flex: 0;
  }

  mat-select + input, mat-select + mat-select {
    margin-left: 4px;
  }

  ::ng-deep .mat-select-value {
    max-width: 100%;
    width: auto;
    padding-right: 4px;
  }
}
