@import '../../../../constants';

:host {
  display: block;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 12px 16px;
  position: relative;
  cursor: pointer;
  page-break-inside: avoid;
}

.info {
  flex: 1;
}

.top-row {
  display: flex;
  align-items: center;
  font-size: 15px;
  padding-bottom: 4px;

  .name {
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}

.details {
  font-size: 13px;
}

.tags {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-right: -8px;
  min-height: 8px;

  .tag {
    word-wrap: normal;
    word-break: break-all;
    display: flex;
    align-items: center;
    border-radius: 12px;
    padding: 4px 10px;
  }
}

.section {
  padding: 2px 0;
}

label-list {
  display: flex;
  justify-content: flex-end;
}

.recommendation {
  display: flex;
  align-items: center;

  mat-icon {
    font-size: 16px;
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }
}
