:host {
  display: block;
  word-break: break-word;
}

.message {
  padding: 16px;
  border-width: 1px;
  border-style: solid;
}

.heading {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-style: solid;
  border-width: 1px;
  border-bottom: none;
}

mat-progress-bar {
  height: 2px;
}
