:host {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.master {
  display: flex;
  flex-direction: column;
  height: 100%;

  width: 500px;

  :host.is-mobile & {
    width: 100%;
    max-width: 100%;
  }
}

.detail {
  flex: 1;
  display: flex;
}

.select-type {
  margin: 0 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  button {
    margin: 0 8px;
  }
}

.empty-state-title {
  font-size: 18px;
  margin: 24px 0;
}

.loading-query {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
