<header-content (actionSelected)="handleHeaderAction($event)"
                [actions]="headerActions | async"
                [name]="(query | async)?.name || 'Loading'"
                [showBack]="true">
</header-content>

<div [style.width.px]="listWidth" class="master">
  <items-list (itemSelected)="navigateToItem($event.id)"
              *ngIf="queryResources | async as resources; else selectType"
              [activeItem]="item$ | async"
              [dataSource]="resources.dataSource" [filterer]="resources.filterer"
              [grouper]="resources.grouper"
              [sorter]="resources.sorter"
              [viewer]="resources.viewer">
  </items-list>
</div>

<drag-line (dragged)="listWidth = listWidth + $event"></drag-line>

<div *ngIf="!isMobile()" class="detail">
  <item-detail *ngIf="item$ | async as item" [item]="item"></item-detail>
</div>

<ng-template #selectType>
  <div class="select-type">
    <div class="empty-state-title">
      Select data to query
    </div>
    <div class="type-options">
      <button (click)="createQueryWithType(option.id)"
              *ngFor="let option of dataResourceOptions"
              color="primary"
              mat-stroked-button>
        {{option.label}}
      </button>
    </div>
  </div>
</ng-template>
