<mat-toolbar>
  <button mat-button class="left-button" (click)="leftButtonClicked()"
          [style.visibility]="!(isEmpty | async) ? 'visible' : 'hidden'">
    <ng-container *ngIf="header.goBack; else menu">
      <mat-icon> arrow_back </mat-icon>
    </ng-container>

    <ng-template #menu>
      <mat-icon>
        menu
      </mat-icon>
    </ng-template>
  </button>

  <ng-template *ngIf="header.toolbarOutlet | async as toolbarOutlet"
               [cdkPortalOutlet]="toolbarOutlet">
  </ng-template>
</mat-toolbar>

<mat-divider></mat-divider>
