<div>
  <form [formGroup]="form">
    <div class="heading">
      <mat-select formControlName="type" class="type">
        <mat-select-trigger>
          <ng-container [ngSwitch]="form.value.type">
            <mat-icon *ngSwitchCase="'warning'" class="theme-warn">
              warning
            </mat-icon>
            <mat-icon *ngSwitchCase="'suggestion'"> label_important </mat-icon>
          </ng-container>
        </mat-select-trigger>
        <mat-option *ngFor="let type of ['warning', 'suggestion']"
                    [value]="type">
          {{type}}
        </mat-option>
      </mat-select>

      <textarea class="message theme-border" formControlName="message"
                cdkTextareaAutosize>  </textarea>

      <button mat-icon-button (click)="expanded = !expanded">
        <mat-icon [@expansionIndicator]="expanded">
          expand_more
        </mat-icon>
      </button>
    </div>

    <div [@expansionContent]="expanded">

      <div class="action">
        <mat-select formControlName="actionType">
          <mat-option *ngFor="let actionType of actionTypeOptions"
                      [value]="actionType.value">
            {{actionType.label}}
          </mat-option>
        </mat-select>


        <div [ngSwitch]="form.value.actionType" class="action-list">
          <div *ngSwitchCase="'add-label'">
            <editable-chip-list [values]="form.value.action?.labels"
                                [options]="(addLabelsOptions | async) || []"
                                (valuesChange)="setAddLabelAction($event)">
            </editable-chip-list>
          </div>
          <div *ngSwitchCase="'add-assignee'">
            <editable-chip-list [values]="form.value.action?.assignees"
                                [options]="(addAssigneesOptions | async) || []"
                                (valuesChange)="setAddAssigneeAction($event)">
            </editable-chip-list>
          </div>
        </div>
      </div>
      <advanced-search [filterer]="itemsFilterer" [dataSource]="dataSource"></advanced-search>
      <div class="delete">
        <button mat-stroked-button color="warn"
                (click)="deleteRecommendation()">
          Delete Recommendation
        </button>
      </div>
    </div>
  </form>
</div>
