<form [formGroup]="form">
  <div mat-dialog-content>
    <input class="title" matInput placeholder="(Optional) Widget Title"
           autocomplete="off" formControlName="title">

    <form-field label="Type">
      <mat-button-toggle-group formControlName="type">
        <mat-button-toggle *ngFor="let option of typeOptions"
                           [value]="option.id">
          {{option.label}}
        </mat-button-toggle>
      </mat-button-toggle-group>
    </form-field>

    <ng-template cdkPortalOutlet></ng-template>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button mat-dialog-close> Cancel </button>
    <button mat-raised-button (click)="save()" color="accent" cdkFocusInitial>
      Save </button>
  </div>
</form>
