<ng-container *ngIf="list | async; let dashboards">

  <div *ngIf="!dashboards.length" class="empty-state theme-secondary-text">
    <mat-icon class="page-icon"> dashboard </mat-icon>
    <div>Build dashboards to view your data through charts and graphs.
    </div>

    <div class="create-new">
      <ng-container *ngTemplateOutlet="newButton"></ng-container>
    </div>
  </div>

  <div class="dashboards">

    <div class="dashboard theme-border theme-background-card theme-hover"
         *ngFor="let dashboard of dashboards; trackBy: trackById"
         (click)="navigateToDashboard(dashboard.id)">

      <div class="heading">
        <div class="name">{{dashboard.name}}</div>

        <button mat-icon-button (click)="$event.stopPropagation()"
                class="theme-hover theme-secondary-text settings"
                [matMenuTriggerFor]="settings">
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <div class="description theme-secondary-text">
        {{dashboard.description}}
      </div>

      <mat-menu #settings="matMenu">
        <button mat-menu-item
                (click)="dashboardDialog.editDashboard(dashboard)">
          Edit Name/Description </button>
        <button mat-menu-item
                (click)="dashboardDialog.removeDashboard(dashboard)">
          Remove </button>
      </mat-menu>
    </div>
  </div>
</ng-container>

<ng-template cdkPortal #newButton>
  <button mat-raised-button color="primary" class="create"
          (click)="createDashboard()">
    Create New Dashboard
  </button>
</ng-template>
