<header-content (actionSelected)="handleHeaderAction($event)"
                [actions]="headerActions | async"
                name="Dashboards">
</header-content>

<ng-container *ngIf="dashboards$ | async as dashboards">
  <collection-page-empty-state (action)="create()"
                               *ngIf="!dashboards.length"
                               actionText="Create New Dashboard"
                               icon="dashboard"
                               message="Build dashboards to view your data through charts and graphs">
  </collection-page-empty-state>

  <div class="dashboards">
    <div class="dashboard theme-border theme-background-card theme-hover"
         *ngFor="let dashboard of dashboards; trackBy: trackById"
         (click)="navigateToDashboard(dashboard.id)">

      <div class="heading">
        <div class="name">{{dashboard.name}}</div>

        <button mat-icon-button (click)="$event.stopPropagation()"
                class="theme-hover theme-secondary-text settings"
                [matMenuTriggerFor]="settings">
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <div class="description theme-secondary-text">
        {{dashboard.description}}
      </div>

      <mat-menu #settings="matMenu">
        <button mat-menu-item
                (click)="dashboardDialog.editDashboard(dashboard)">
          Edit Name/Description </button>
        <button mat-menu-item
                (click)="dashboardDialog.removeDashboard(dashboard)">
          Remove </button>
      </mat-menu>
    </div>
  </div>
</ng-container>
