@import "../../../../../components/common.scss";

mat-form-field {
  width: 100%;
}

editable-chip-list {
  margin-left: 8px;
}

.action-list {
  font-size: 14px;
  margin-left: 140px;
  line-height: 48px;
}

mat-button-toggle-group {
  ::ng-deep .mat-button-toggle-label-content {
    display: flex;
    align-items: center;
  }

  mat-icon {
    height: 16px;
    width: 16px;
    font-size: 16px;
    margin-right: 4px;
  }
}
