<h1 mat-dialog-title>
  {{data.recommendation.id ? 'Edit Recommendation' : 'New Recommendation'}}
</h1>

<div mat-dialog-content [formGroup]="formGroup">
  <input-option formControlName="message" label="Message"></input-option>

  <form-field label="Type">
    <mat-button-toggle-group formControlName="type">
      <mat-button-toggle *ngFor="let option of typeOptions" [value]="option.id">
        <mat-icon *ngIf="option.icon"> {{option.icon}} </mat-icon>
        {{option.label}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </form-field>

  <form-field label="Data">
    <mat-button-toggle-group formControlName="data">
      <mat-button-toggle *ngFor="let option of dataOptions" [value]="option.id">
        {{option.label}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </form-field>

  <form-field label="Action">
    <mat-button-toggle-group formControlName="actionType">
      <mat-button-toggle *ngFor="let option of actionOptions"
                         [value]="option.id">
        {{option.label}}
      </mat-button-toggle>
    </mat-button-toggle-group>
  </form-field>

  <div [ngSwitch]="formGroup.value.actionType" class="action-list">
    <div *ngSwitchCase="'add-label'">
      Labels:
      <editable-chip-list [values]="formGroup.value.action?.labels"
                          [options]="(addLabelsOptions | async) || []"
                          (valuesChange)="setAddLabelAction($event)">
      </editable-chip-list>
    </div>
    <div *ngSwitchCase="'add-assignee'">
      Assignees:
      <editable-chip-list [values]="formGroup.value.action?.assignees"
                          [options]="(addAssigneesOptions | async) || []"
                          (valuesChange)="setAddAssigneeAction($event)">
      </editable-chip-list>
    </div>
  </div>

  <filter-state-option formControlName="filtererState" [filterer]="filterer"
                       [dataSource]="dataSource">
  </filter-state-option>
</div>

<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="null"> Cancel </button>
  <button mat-raised-button color="accent" [disabled]="!formGroup.valid"
          (click)="save()"> Save </button>
</div>
